/* wrap */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0CCD64
}

/* footer wrap */

.footer-wrap {
    width: 100%;
    display: flex;
    padding: 50px 0px 50px 50px;
    align-items: center;
}

.footer-wrap > div {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

/* service title */

.footer-wrap > h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

/* service list */

.footer-wrap > div > span {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-right: 50px;
    font-size: 23px;
}

.footer-wrap > div > a {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    margin-right: 50px;
    font-size: 20px;
    text-align: left;
}


/* copyright text */

.copyright {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 18px;
}