/* list background bug fix */
.container-fluid {
    background-color: #fff;
}

a.nav-link:nth-child(4) {
   margin-bottom: 10px
}

/* icon css */
.navbar-brand > img {
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

/* service title */
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

/* menu list */
.navbar-nav > a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    margin-left: 30px;
}

.navbar {
    height: 70px;
}